.single-hero-box {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.single-hero-box a {
    text-decoration: none;
    color: black;
}

.single-hero-box a:hover {
    text-decoration: underline;
    color: white;
    background-color: grey;
}

.hero-title {
    font-size: 2em;
    margin: 25px;
    box-shadow: 15px 5px 5px tomato;
    width: 50%;
}

.single-hero-image {
    width: 50%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px 15px tomato;
}

.hero-urls {
    list-style-type: none;
    font-size: 1.2em;
    text-align: center;
}

.hero-urls > li {
    box-shadow: 5px 2px 2px grey;
}

.back-btn {
    display: block;
    box-shadow: 5px 2px 2px grey;
    width: 200px;
    font-size: 1.2em;
    margin: 40px;
}

.back-btn:hover {
    box-shadow: 5px 5px 2px green;
    color: white;
    background-color: black;
}

